body {
  text-align: center;
  background: #dfdfdf;
  font-family: Helvetica;
  color: #666;
  background: linear-gradient(to left, #DA4453, #89216B);
}

.container {
  padding: 30px;
  padding-top: 10px;
  width: 300px;
  /* 0 is for top-bottom and auto (set to equal values for each by browser) for left-right */
  margin: 0 auto;
  margin-top: 40px;
  background: white;
  border-radius: 5px;
}

form {
  /* Displays button next to form (same property/value also needed under .button to work fully) */
  display: inline-block;
}

input[type=text] {
  border: 1px solid #ccc;
  height: 1.6em;
  width: 15em;
  color: #666;
}

.button {
  /* Makes button display next to form */
  display: inline-block;
  box-shadow: inset 0px 1px 0 0 #fff;
  /* Starts at top, transitions from left to right */
	background: linear-gradient(#f9f9f9 5%, #e9e9e9 100%);
	border: 1px solid #ccc;
	background-color: #c00;
	font-size: 0.7em;
	font-family: Arial;
	font-weight: bold;
	border-radius: 0.33em;
	/* First value sets top and bottom padding; second value sets right and left */
	padding: 0.5em 0.9em;
	text-shadow: 0 1px #fff;
	text-align: center;
}

.button:hover {
  cursor: pointer;
  opacity: .8;
}

.list {
  text-align: left;
  margin-left: 22px;
}

.item:first-of-type {
  margin-top: 15px;
}
