body {
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
  color: #666;
  background: linear-gradient(to left, #da4453, #89216b);
  height: 100%;
  /* Ensures background image spans full width of viewport */
  margin: 0;
  padding: 0;
}

.container {
  padding: 5px 15px 10px 15px;
  width: 400px;
  /* 0 is for top and bottom and auto (set to equal values for each by browser) for left-right */
  margin: 0 auto;
  margin-top: 40px;
  background: #eee;
  border-radius: 5px;
}

form {
  /* Displays button next to input box */
  display: inline-block;
  margin-bottom: 1.5em;
}

input {
  border: 1px solid #ccc;
  height: 1.6em;
  width: 28.23em;
  color: #666;
  /* Adds space between text and input box outlines */
  padding-left: 0.5em;
}

/* Sets appearance of input box boundaries when user clicks inside it */
input:focus {
  border-color: #da4453;
  /* L to R: horizontal offset, vertical offset, blur radius. A in RGBA is alpha parameter, a number between 0.0 (fully transparent) and 1.0 (fully opaque) */
  box-shadow: 0 0 8px rgba(229, 103, 23, 0.6);
  outline: none;
}

button:focus {
  outline: none;
}

button {
  margin-left: -26px;
  /* 2px added to account for default 1px padding of input box set by user agent (browser) stylesheet (1px top + 1px bottom = 2px) */
  height: -webkit-calc(1.6em + 2px);
  height: calc(1.6em + 1.2px);
  width: 25px;
  color: grey;
  border: none;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #9a9797;
}

/* Remove margins and padding from list */
ul {
  margin: 0;
  padding: 0;
}

/* Applies styling to any li descendants of ul (descendant combinator) */
ul li {
  text-align: left;
  /* Prevents default bullet points */
  list-style-type: none;
  line-height: 1.5em;
  cursor: pointer;
  background-color: #eee;
  /* First value sets top and bottom padding; second value sets right and left */
  padding: 1.5px 0;
}

/* Set all odd list items to a different color (zebra stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Sets darker background color on hover over list items */
ul li:hover {
  background-color: #ddd;
}

.strike {
  text-decoration: line-through;
}

/* Mobile phones/extra small screens */
@media screen and (max-width: 767px) {
  .container {
    padding: 0 0 5px 0;
    width: 90%;
    /* Removing this adds space above container div */
    margin: 1.5em auto;
  }

  form {
    display: block;
    margin-bottom: 13px;
  }

  h2 {
    margin-top: 0;
    padding-top: 10px;
  }

  input {
    width: 90%;
    margin: 0;
  }

  ul {
    margin-right: 10px;
    margin-left: 10px;
  }
}
