body {
  text-align: center;
  background: #dfdfdf;
  font-family: Helvetica;
  font-size: 14px;
  color: #666;
  background: linear-gradient(to left, #DA4453, #89216B);
}

.container {
  padding: 20px;
  padding-top: 5px;
  width: 400px;
  /* 0 is for top and bottom and auto (set to equal values for each by browser) for left-right */
  margin: 0 auto;
  margin-top: 40px;
  background: #eee;
  border-radius: 5px;
}

form {
  /* Needed to display button next to input box  */
  display: inline-block;
}

input[type=text] {
  border: 1px solid #ccc;
  height: 1.6em;
  width: 28.23em;
  color: #666;
  height: 1.5em;
}

.button {
  /* Needed to display button next to input box */
  display: inline-block;
  /* Aligns with lowest element on line  */
  vertical-align: bottom;
  box-shadow: inset 0px 1px 0 0 #fff;
  /* Starts at top, transitions from left to right */
	background: linear-gradient(#f9f9f9 5%, #e9e9e9 100%);
	border: 1px solid #ccc;
	font-size: 0.7em;
	font-weight: bold;
	/* First value sets top and bottom padding; second value sets right and left */
	padding: 0.53em 0.7em;
	text-shadow: 0 1px #fff;
	text-align: center;
  color: grey;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #9a9797;
}

/* Remove margins and padding from list */
ul {
  margin: 0;
  padding: 0;
}

ul li {
  text-align: left;
  list-style-type: none;
  margin: auto;
  cursor: pointer;
  position: relative;
  background-color: #eee;
  padding: 1.5px 0;
}

/* Set all odd list items to a different color (zebra stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background-color: #ddd;
}

.strike {
  text-decoration: line-through;
}
